body {
  background-color: #3a3535;
}        

#img-bg {
            background-position: 30% 20%;
            background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.2)), url("https://i.ibb.co/FYdrv4w/Screen-Shot-2020-01-21-at-6-02-46-PM.png");
            background-size: cover;
            width: 100%;
            height: 600px;
        }
        
        .header-overlay {
            width: 25%;
            float: right;
            display: block;
            margin: 5% 7% 10% 0px;
            vertical-align: middle;
            color: #ffffff;
            padding: 30px;
        }
        
        #header-name {
            font-family: 'Lato', sans-serif;
            font-weight: 300;
            font-size: 3.8em;
            color: #ffffff;
            text-transform: uppercase;
            letter-spacing: .1em;
        }
        
        #header-copy {
            font-family: 'Playfair Display', Baskerville, Times New Roman, serif;
            font-weight: 300;
            font-style: italic;
            font-size: 2.2em;
            color: #ffffff;
            display: block;
        }
        
        section {
            margin: 0 auto;
            width: 100%;
            display: block;
            float: left;
        }
        
        .container {
            margin: 0 auto;
            padding: 1% 10% 1% 10%;
            font-family: 'Lato', Helvetica, Arial, sans-serif;
            font-weight: 300;
            color: #ffffff;
            line-height: 1.7em;
            font-size: 1.4em;
        }
        
        .bio-text {
            width: 60%;
            padding: 0px 15px 0px 0px;
            float: left;
        }
        
        h1 {
            font-family: 'Playfair Display', Baskerville, Times New Roman, serif;
            font-weight: 300;
            text-transform: uppercase;
            font-size: 3em;
            color: #ffffff;
            letter-spacing: .1em;
            text-align: center;
            line-height: 1em;
        }
        

        .q {
            font-weight: bold;
        }
        
        a {
            color: #ffffff;
        }
        
        a:hover {
            color: #68654f;
            text-decoration: none;
            font-weight: bold;
        }